<div class="row">
	<div class="col-sm-6">
		<%= form_for [@hostel, @booking], url: booking_checkout_path, method: 'GET' do |f| %>
			<div class="form-group">
			  <%= f.label :no_of_rooms, "No of Rooms" %><br />
			  <%= f.text_field :no_of_rooms,class: "form-control", autofocus: true, id: 'rooms' %></br>
			  <span id="show" style="color:red"></span>
			</div>

			<div class="form-group">
			  <%= f.label :start_date, "Select start date for booking" %><br />
			  <%= f.date_field :start_date, class: "form-control", id: 'start-date' %>
			</div>

			<div class="form-group">
			  <%= f.label :end_date, "Select start date for booking" %><br />
			  <%= f.date_field :end_date, class: "form-control", id: 'end-date' %>
			</div>

			<div class="form-group"><br />
				<%= f.hidden_field :hostel_id,:value => @hostel.id %>
			  <%= f.submit "Book",class: 'btn btn-primary', id: 'btn' %>
			</div>
		
		<%#= link_to 'pay', booking_checkout_path %>
		<%end%>
	</div>
</div>

<script type="text/javascript">
	$('#rooms').keyup(function(){
		$.ajax({
		  method: "GET",
		  url: "<%= check_booking_availability_path %>",
		  data: {
		  	no_of_rooms: $(this).val(),
		  	hostel_id: <%= @hostel.id %>
		  },
		  success: function(data){
		  	// debugger
		  	if (data[0] < data[1]) {
		  		$('#show').html('only-' + data[0] + '-rooms available');
		  	}else{
		  		$('#show').html('');
		  	}
		  }
		});

		$('#showbooking').on('hidden.bs.modal', function () {
			$('#rooms').val('');
			$('#start-date').val('');
			$('#end-date').val('');
			$('#show').text('');
		});
	});
</script>