<div class="row">
	<div class="col-sm-6">
		<%= form_for [@hostel, @booking], url: booking_checkout_path, method: 'GET' do |f| %>
			<% if @booking.errors.any? %>
			    <% @booking.errors.full_messages.each do |message| %>
			      <li><%= message %></li>
			    <% end %>
			  <% end %>

			<div class="form-group">
			  <%= f.label :no_of_rooms, "No of Rooms" %><br />
			  <%= f.text_field :no_of_rooms,class: "form-control", autofocus: true, id: 'rooms' %></br>
			  <span id="show" style="color:red"></span>
			</div>

			<div class="form-group">
				 <%= f.label :start_date, "Select start date for booking" %><br />
				<div class='input-group date' id='start_datepicker'>
				  <input type="text" class="form-control start_date" id="start_date"/>
				  <span class="input-group-addon start_date">
	        	<span class="glyphicon glyphicon-calendar"></span>
	      	</span>
      	</div>
			  <%#= f.date_field :start_date, class: "form-control", id: 'start-date' %>
			</div>

			<div class="form-group">
			  <%= f.label :end_date, "Select end date for booking" %><br />
			  <div class='input-group date' id='end_datepicker'>
			  	<input type="text" class="form-control end_date"  id="end_date"/>
				  <span class="input-group-addon">
	        	<span class="glyphicon glyphicon-calendar"></span>
	      	</span>
	      </div>
	      <div class="row" style="color:red" id="error"></div>
			  <%#= f.date_field :end_date, class: "form-control", id: 'end-date' %>
			</div>

			<div class="form-group"><br />
				<%= f.hidden_field :hostel_id,:value => @hostel.id %>
			  <%= f.submit "Book",class: 'btn btn-primary', id: 'btn1' %>
			</div>
		
		<%#= link_to 'pay', booking_checkout_path %>
		<%end%>
	</div>
</div>

<script type="text/javascript">
	$('#rooms').keyup(function(){
		$.ajax({
		  method: "GET",
		  url: "<%= check_booking_availability_path %>",
		  data: {
		  	no_of_rooms: $(this).val(),
		  	hostel_id: <%= @hostel.id %>
		  },
		  success: function(data){
		  	// debugger
		  	if (data[0] < data[1]) {
		  		$('#show').html('only-' + data[0] + '-rooms available');
		  		$('#btn1').prop('disabled', true);
		  	}else{
		  		$('#show').html('');
		  	}
		  }
		});

		$('#showbooking').on('hidden.bs.modal', function () {
			$('#rooms').val('');
			$('#start-date').val('');
			$('#end-date').val('');
			$('#show').text('');
		});
	});

	$(document).ready(function(){
    $('#start_datepicker').datepicker({
    	format: "dd/mm/yyyy",
    	startDate: Date(),
    	autoclose: true
    });

    $('#end_datepicker').datepicker({
    	format: "dd/mm/yyyy",
    	startDate: Date(),
    	autoclose: true
    });
  });

	
  
 	$('#end_date').change(function(){
 		var start_date = $('#start_date').val();
    	var end_date = $('#end_date').val();
  	//alert("enter valid date");
  	//debugger
  	 if(start_date > end_date){
  	 	//alert("enter valid date");
  	 	$('#error').html('End date is not before the start date');
  	 }
  	 else{}

  });

</script>