<h2>Subscriptions Details</h2>
<div>
	<table class="table table-hover col-md-5">
		<tr>
			<th>Transaction Id</th>
			<th>Hostel Name</th>
			<th>No of Rooms Booked</th>
			<th>Booked From Date</th>
			<th>Booked To Date</th>
		</tr>

		<% if current_user.subscriptions.present? %>
		<% @subscriptions.each do |f| %>
			<tr>
				<td><%= f.transaction_id %></td>
				<%#byebug%>
				<td><%= f.booking.hostel.name %></td>
				<td><%= f.booking.no_of_rooms %></td>
				<td><%= f.start_date.strftime('%F') %></td>
				<td><%= f.end_date.strftime('%F') %></td>
		<%end%>
			</tr>
		<%else%>
		<tr><td>Currently you have no Subscriptions</td></tr>
		<%end%>
	</table>
	<%= link_to "back", root_path,class: 'btn btn-info'  %>
</div>