<div class="row">
	<div class="col-md-3">
		<%= form_for ([current_user, @hostel] )do |f| %>
			<% if @hostel.errors.any? %>
			    <% @hostel.errors.full_messages.each do |message| %>
			      <li><%= message %></li>
			    <% end %>
			  <% end %>
			
			<div class="form-group">
			  <%= f.label :name, "Hostel Name" %><br />
			  <%= f.text_field :name, class: "form-control" , autofocus: true %>
			</div>

			<div class="form-group">
			  <%= f.label :description %><br />
			  <%= f.text_area :description, class: "form-control" %>
			</div>

			<div class="form-group">
			  <%= f.label :address %><br />
			  <%= f.text_field :address, class: "form-control"%>
			</div>

			<div class="form-group">
			  <%= f.label :pincode %><br />
			  <%= f.text_field :pincode, class: "form-control"%>
			</div>

			<div class="form-group">
			  <%= f.label :mobile_number %><br />
			  <%= f.text_field :mobile_number, class: "form-control"%>
			</div>

			<div class="form-group">
			  <%= f.label :no_of_rooms %><br />
			  <%= f.text_field :no_of_rooms, class: "form-control"%>
			</div>

			<div class="form-group">
			  <%= f.label :room_rent %><br />
			  <%= f.text_field :room_rent, class: "form-control"%>
			</div>

			<div class="form-group">
			  <%= f.label :image %><br />
			  <%= f.file_field :image, class: "form-control"%>
			</div>

			<div class="form-group"><br />
			  <%= f.submit "Submit", class: "btn btn-primary" %>
			</div>
		<%end%>
	</div>
</div>