<div class="container">
	<h2>Hostel Details</h2>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-6">
			<%= image_tag(@hostel.image_url, class: 'img img-responsive') %>
		</div>
		<div class="col-sm-6">
			<div class="col-sm-12">
				<% if @hostel.available_rooms>0 %>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#showbooking" id="btn" style="float: right;">Click Here to Book Room</button>
					<% else %>
					<button type="button" class="btn btn-info" >Booking full</button>
				<%end%>
			</div>

			<h3 class="text-uppercase"><%= @hostel.name %></h3>
			<ul style="list-style-type: none; padding: 0;">
				<li>No of Rooms: <%= @hostel.no_of_rooms %></li>			
				<li>Room Rent: <%= @hostel.room_rent %></li>			
				<li id="available-rooms">Available Room: <%= @hostel.available_rooms %></li>
			</ul>
			<p><strong>Description:</strong></p>
			<p><%= @hostel.description %></p> 
		</div>
		<div class="col-sm-12" style="margin-top: 15px;">
			<strong>Contact Details:</strong>
			<ul style="list-style-type: none; padding-left: 10px;">
				<li><%= @hostel.address %></li>
				<li><%= @hostel.pincode %></li>
				<li><%= @hostel.mobile_number %></li>
			</ul>
		</div>		
	</div>
	
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-sm-12">
			<% if current_user.admin? && current_user.id == @hostel.user_id %>
				<%= link_to 'Edit Hostel Details', edit_user_hostel_path(current_user, @hostel.id),class: 'btn btn-info' %> ||	
			<%end%>
			<%= link_to 'Back', hostels_path,class: 'btn btn-info' %>
		</div>
	</div>
	
</div>
<!-- <div class="container" align="center">
	<h4>Book Room</h4>
	<%#byebug%>
	<%#=button_to 'book', hostel_bookings_path(@hostel.id), :method => 'post' %>
</div> -->

<div id="showbooking" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Details for Booking Rooms</h4>
      </div>
      <div class="modal-body">
        <%= render 'bookings/new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
